swagger: '2.0'
info:
  title: GraphHopper Isochrone API
  description: |
    The GraphHopper Isochrone API allows calculating an isochrone of a locations means to calculate
    'a line connecting points at which a vehicle arrives at the same time,' 
    see [Wikipedia](http://en.wikipedia.org/wiki/Isochrone_map). 
    It is also called **reachability** or **walkability**.
  version: "1.0.0"
host: graphhopper.com
schemes:
  - https
basePath: /api/1
produces:
  - application/json
securityDefinitions:
  api_key:
    type: apiKey
    name: key
    in: query  
paths:
  /isochrone:
    get:
      summary: Isochrone Request
      description: |
        Calculate an isochrone line
      parameters:
        - name: point
          in: query
          description: Specify the start coordinate
          required: true
          type: string
        - name: time_limit
          in: query
          description: TSpecify which time the vehicle should travel. In seconds. The maximum depends on the subscribed package.
          default: 600
          type: integer
          format: int32
        - name: vehicle
          in: query
          description: Possible vehicles are bike, car, foot and [more](https://graphhopper.com/api/1/docs/supported-vehicle-profiles/)
          default: car
          type: string
        - name: buckets
          in: query
          description: For how many sub intervals an additional polygon should be calculated.
          default: 1
          type: integer
          format: int32
        - name: reverse_flow
          in: query
          description: If `false` the flow goes from point to the polygon, if `true` the flow goes from the polygon "inside" to the point. Example usage for `false`&#58; *How many potential customer can be reached within 30min travel time from your store* vs. `true`&#58; *How many customers can reach your store within 30min travel time.*
          default: false
          type: boolean
        - name: key
          in: query
          description: Get your key at graphhopper.com
          required: true
          type: string
      tags:
        - Isochrone
      responses:
        200:
          description: Isochrone Result
          schema:
            $ref: '#/definitions/GHIsochroneResponse'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
definitions:
  GHIsochroneResponse:
    type: object
    properties:
      polygons:
        type: array
        items:
          $ref: '#/definitions/GHIsochroneResponsePolygon'
      copyrights:
        type: array
        items:
          type: string
  GHIsochroneResponsePolygon:
    type: object
    description: A found path
    properties:
      properties:
        type: object
        properties:
          bucket:
            type: integer
            format: int32
      type:
        type: string
      geometry:
        type: object
        properties:
          type:
            type: string
          coordinates:
            $ref: '#/definitions/GHResponseCoordinatesArray'
  GHResponseCoordinatesArray:
    type: array
    description: An array containing coordinates
    items:
      type: array
      items:
        type: number
        format: double
  Error:
    type: object
    properties:
      code:
        type: integer
        format: int32
      message:
        type: string
      fields:
        type: string
